*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #eee;
}

.wrapper {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

.section-heading {
	color: #000;
	font-size: 3rem;
}

.nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: auto;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 1em;
	z-index: 10;

	.wrapper {
		width: 100%;
		display: flex;
		justify-content: space-around;
	}

	.burger-btn {
		background: none;
		border: 1px solid transparent;
		font-size: 2.4rem;
		padding: 0.5em;
		cursor: pointer;
		z-index: 1000;
	}

	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 2.4rem;
		font-family: 'Caveat', cursive;
		z-index: 10;
		font-weight: bold;
		color: #000;
	}

	&__navbar {
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100vw;
		transform: translateX(100%);
		transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
		background-color: #fff;
		z-index: 10;
		&--active {
			transform: translateX(0);
		}

		&-item {
			position: relative;
			display: block;
			margin: 1em 0;
			padding: 1em 2em;
			font-size: 2.6rem;
			color: #000;
			text-decoration: none;
			text-align: center;
			text-transform: uppercase;
			white-space: nowrap;
		}
	}
}

.underline {
	width: 150px;
	height: 4px;
	background-color: #3b90eb;
}

.header {
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('../img/teamwork-3213924_640.jpg');
	background-size: cover;
	background-position: center;

	&__heading {
		margin-top: 2em;
		font-size: 3.6rem;
	}

	.underline {
		margin-bottom: 3em;
	}

	&__content {
		display: flex;
		flex-direction: column;
		position: relative;
		padding: 1em;
		&-item {
			padding: 1em 0;
			font-size: 1.8rem;
		}

		&-cta {
			font-size: 1.8rem;
			text-decoration: none;
			margin-top: 1em;
			padding: 1em;
			background-color: #3b90eb;
			color: #eee;
			border-radius: 10px;
			align-self: center;
		}
		z-index: 1;
	}

	&__shadow {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(black, 0.5);
	}

	&__btn {
		position: absolute;
		bottom: 2em;
	}
}

.about-me {
	&__boxes {
		width: 100%;
	}

	&__box {
		min-height: 300px;
		color: #000;

		&-text {
			padding: 2em;
			font-size: 2rem;

			&-content {
				margin-top: 3em;
			}
		}

		&-img {
			height: 100%;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 2em;

			img {
				height: 200px;
				width: 200px;
				object-fit: cover;
				border-radius: 50%;
			}
		}

		&-link {
			margin-top: 2em;
			padding: 1em;
			background-color: #3b90eb;
			color: #eee;
			font-size: 1.8rem;
			border-radius: 10px;
			cursor: pointer;
		}
	}

	&__description {
		&-box {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			&-item {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				padding: 1em;

				&-text {
					font-size: 2rem;
					font-weight: bold;
					padding: 0.5em;
					color: #333;
				}

				&-icon {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 80px;
					width: 80px;
					font-size: 3.6rem;
					background-color: #3b90eb;

					border-radius: 50%;
				}
			}
		}
	}
}

.offers {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.underline {
		align-self: center;
	}
	&__card {
		position: relative;
		margin: 2em;
		height: 450px;
		text-align: center;
		text-align: center;
		perspective: 1000px;

		&:hover {
			.offers__card-img {
				transform: rotateY(-180deg);
				opacity: 0;
			}

			.offers__card-info {
				transform: rotateY(0);
				opacity: 1;
			}
		}

		&-img {
			position: relative;
			height: 100%;
			background-image: url('../img/library-1147815_640.jpg');
			border-radius: 10px;
			background-size: cover;
			background-position: center;
			transition: transform 1s, opacity 1s;

			&-title {
				position: absolute;
				top: 1.2em;
				font-size: 2.8rem;
				left: 50%;
				transform: translateX(-50%);
			}

			&-info {
				position: absolute;
				bottom: 30px;
				right: 30px;
				font-size: 1.8rem;

				i {
					margin-right: 3em;
				}
			}
		}

		&-info {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-color: #2a2a72;
			background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
			color: #eee;
			border-radius: 10px;
			opacity: 0;
			transform: rotateY(180deg);
			transition: transform 1s, opacity 1s;

			&-title {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 1.2em;
				font-size: 2.8rem;
			}

			&-list {
				margin: 0 auto;
				width: 70%;
				list-style: none;

				&-item {
					padding: 1em;
					font-size: 1.4rem;
					border-bottom: 1px solid #eee;

					&:last-child {
						border-bottom: none;
					}
				}
			}

			&-btn {
				position: absolute;
				bottom: 1em;
				left: 50%;
				transform: translateX(-50%);
				font-size: 1.4rem;
				text-decoration: none;
				padding: 1em;
				background-color: #3b90eb;
				color: #eee;
				border-radius: 10px;
				width: 70%;
			}
		}
	}
}

.contact {
	position: relative;
	background-image: url('../img/email-6370595_640.jpg');
	background-size: cover;
	background-position: center;
	.section-heading {
		text-align: left;
		padding: 1.5rem 1.5rem 0 1.5rem;
		color: #eee;
	}

	.underline {
		margin-left: 1.5em;
	}

	&__box {
		position: relative;
		padding: 2em;
		&-item {
			display: block;
			font-size: 2rem;
			margin: 2em 0;
			padding: 1em;
			text-decoration: none;
			color: #eee;
			&--social {
				display: inline;
				margin: 2em 2em 2em 0;
			}

			&--social:last-of-type {
				margin-left: 2em;
			}
		}
		z-index: 2;
	}

	&__shadow {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: 1;
	}
}

@media (min-width: 992px) {
	.section {
		margin-top: 30em;
	}

	.nav {
		padding: 0 20em;
		&__navbar {
			position: sticky;
			background: none;
			top: 0;
			height: auto;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			transform: none;
			&--active {
				display: none;
			}

			&-item {
				margin: 0 0.5em;
				padding: 0.5em;
				font-size: 2.2rem;
			}
		}

		.burger-btn {
			display: none;
		}
	}

	.header {
		position: relative;
		display: block;
		background-image: url('../img/teamwork-3213924_1920.jpg');

		&__heading {
			margin-top: 1em;
		}

		&__content {
			position: absolute;
			bottom: -100px;
			left: 200px;
			padding: 2em;
			background-color: #2a2a72;
			background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
			border-radius: 10px;

			&-item {
				padding: 2em 0;
				font-size: 2rem;
				&:last-of-type {
					margin-bottom: 6em;
				}
			}

			&-cta {
				position: absolute;
				bottom: 1em;
				left: 50%;
				transform: translateX(-50%);
				font-size: 2rem;
				text-decoration: none;
				padding: 0.5em 1em;
				border-radius: 10px;
			}
		}

		&__btn {
			display: none;
		}
	}

	.about-me {
		margin-top: 180px;
		padding-top: 170px;
		&__boxes {
			box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		}
		&__box {
			display: flex;

			&-img {
				min-height: 400px;
				width: 50%;

				img {
					position: absolute;
					top: -100px;
				}
			}

			&-text {
				.section-heading {
					text-align-last: left;
				}

				.underline {
					background-color: #3b90eb;
				}

				width: 50%;
				padding: 3em;
				p {
					padding: 2em 0;
				}
			}
		}

		&__description {
			position: relative;

			&-box {
				width: 100%;
				position: absolute;
				top: -100px;
				flex-direction: row;
				&-item {
					width: 30%;
				}
			}
		}
	}

	.offers {
		margin-top: 350px;
		padding: 5em;

		&__cards {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}

		&__card {
			margin: 1em;
			width: 40%;
		}
	}

	.contact {
		margin-top: 350px;
		display: flex;
		justify-content: end;
		background-image: url('../img/email-6370595_1920.jpg');
		&__box {
			width: 50%;
			&-item {
				font-size: 2.4rem;
			}
		}

		&__shadow {
			width: 50%;
		}

		.underline {
			background-color: #3b90eb;
			width: 150px;
		}
	}
}

@media (min-width: 1100px) {
	.offers {
		&__card {
			margin: 1.5em;
			width: 22%;
		}
	}
}
